@model IEnumerable<GenericTestDomain.Model.Person>

<p>
    <a href="#" id="createperson">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a href="#" data-ajax="true" id=@("editperson_"+item.Id)>Edit</a> |
                    <a href="/deleteperson?id=@item.Id.ToString()">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $('#createperson').click(function () {
        $.ajax({
            type: "GET",
            url: "/new?type=Person",
            success: function (response) {
                $('#create').html(response);
            },
            error: function () {

            }
        })
    })
    $('[id^="editperson_"]').click(function (e) {

        $.ajax({
            type: "GET",
            url: `/editperson?id=${e.target.id.slice(11)}`,
            success: function (response) {
                $('#create').html(response);
            },
            error: function () {

            }
        })
    })
</script>